## Mounting Drive

In [19]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [20]:
%cd 'drive/My Drive/M5'

[Errno 2] No such file or directory: 'drive/My Drive/M5'
/content/drive/My Drive/M5

## Import statements

In [0]:
import pandas as pd
from fbprophet import Prophet

In [0]:
file_name = "sales_0"

In [0]:
cal_df = pd.read_csv("calendar.csv")

In [24]:
cal_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1969 entries, 0 to 1968
Data columns (total 14 columns):
date            1969 non-null object
wm_yr_wk        1969 non-null int64
weekday         1969 non-null object
wday            1969 non-null int64
month           1969 non-null int64
year            1969 non-null int64
d               1969 non-null object
event_name_1    162 non-null object
event_type_1    162 non-null object
event_name_2    5 non-null object
event_type_2    5 non-null object
snap_CA         1969 non-null int64
snap_TX         1969 non-null int64
snap_WI         1969 non-null int64
dtypes: int64(7), object(7)
memory usage: 215.5+ KB

In [25]:
cal_df.head()

         date  wm_yr_wk    weekday  ...  snap_CA  snap_TX  snap_WI
0  2011-01-29     11101   Saturday  ...        0        0        0
1  2011-01-30     11101     Sunday  ...        0        0        0
2  2011-01-31     11101     Monday  ...        0        0        0
3  2011-02-01     11101    Tuesday  ...        1        1        0
4  2011-02-02     11101  Wednesday  ...        1        0        1

[5 rows x 14 columns]

In [0]:
date_map_df = cal_df[["date", "d"]]

In [27]:
date_map_df.head()

         date    d
0  2011-01-29  d_1
1  2011-01-30  d_2
2  2011-01-31  d_3
3  2011-02-01  d_4
4  2011-02-02  d_5

In [0]:
sales_train_df = pd.read_csv(file_name + ".csv", index_col=0)

In [29]:
sales_train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1016 entries, 0 to 1015
Columns: 1919 entries, id to d_1913
dtypes: int64(1913), object(6)
memory usage: 14.9+ MB

In [30]:
sales_train_df.head()

                              id        item_id  ... d_1912 d_1913
0  HOBBIES_1_001_CA_1_validation  HOBBIES_1_001  ...      1      1
1  HOBBIES_1_002_CA_1_validation  HOBBIES_1_002  ...      0      0
2  HOBBIES_1_003_CA_1_validation  HOBBIES_1_003  ...      1      1
3  HOBBIES_1_004_CA_1_validation  HOBBIES_1_004  ...      7      2
4  HOBBIES_1_005_CA_1_validation  HOBBIES_1_005  ...      2      4

[5 rows x 1919 columns]

In [0]:
sales_train_df = sales_train_df.drop(columns=["item_id", "dept_id", "cat_id", "store_id", "state_id"])

In [0]:
sales_df = pd.melt(sales_train_df, id_vars=["id"], var_name="d")

In [33]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1943608 entries, 0 to 1943607
Data columns (total 3 columns):
id       object
d        object
value    int64
dtypes: int64(1), object(2)
memory usage: 44.5+ MB

In [34]:
sales_df.head()

                              id    d  value
0  HOBBIES_1_001_CA_1_validation  d_1      0
1  HOBBIES_1_002_CA_1_validation  d_1      0
2  HOBBIES_1_003_CA_1_validation  d_1      0
3  HOBBIES_1_004_CA_1_validation  d_1      0
4  HOBBIES_1_005_CA_1_validation  d_1      0

In [0]:
joined_df = sales_df.merge(date_map_df, on="d", how="left")

In [36]:
joined_df.head()

                              id    d  value        date
0  HOBBIES_1_001_CA_1_validation  d_1      0  2011-01-29
1  HOBBIES_1_002_CA_1_validation  d_1      0  2011-01-29
2  HOBBIES_1_003_CA_1_validation  d_1      0  2011-01-29
3  HOBBIES_1_004_CA_1_validation  d_1      0  2011-01-29
4  HOBBIES_1_005_CA_1_validation  d_1      0  2011-01-29

In [0]:
proph_df = joined_df[["id", "date", "value"]]

In [0]:
proph_df = proph_df.rename(columns={"date": "ds", "value": "y"})

In [39]:
proph_df.head()

                              id          ds  y
0  HOBBIES_1_001_CA_1_validation  2011-01-29  0
1  HOBBIES_1_002_CA_1_validation  2011-01-29  0
2  HOBBIES_1_003_CA_1_validation  2011-01-29  0
3  HOBBIES_1_004_CA_1_validation  2011-01-29  0
4  HOBBIES_1_005_CA_1_validation  2011-01-29  0

In [40]:
proph_df.ds.max()

'2016-04-24'

In [41]:
proph_df.ds.min()

'2011-01-29'

In [0]:
header = ["id"]
for i in range(1, 29):
  header.append("F" + str(i))

In [0]:
proph_op_df = pd.DataFrame(columns=header)

In [44]:
proph_op_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 29 columns):
id     0 non-null object
F1     0 non-null object
F2     0 non-null object
F3     0 non-null object
F4     0 non-null object
F5     0 non-null object
F6     0 non-null object
F7     0 non-null object
F8     0 non-null object
F9     0 non-null object
F10    0 non-null object
F11    0 non-null object
F12    0 non-null object
F13    0 non-null object
F14    0 non-null object
F15    0 non-null object
F16    0 non-null object
F17    0 non-null object
F18    0 non-null object
F19    0 non-null object
F20    0 non-null object
F21    0 non-null object
F22    0 non-null object
F23    0 non-null object
F24    0 non-null object
F25    0 non-null object
F26    0 non-null object
F27    0 non-null object
F28    0 non-null object
dtypes: object(29)
memory usage: 0.0+ bytes

In [0]:
grouped = proph_df.groupby('id')
for g in grouped.groups:
    group = grouped.get_group(g)
    m = Prophet()
    m.fit(group)
    future = m.make_future_dataframe(periods=28)
    forecast = m.predict(future)
    res = forecast.tail(28)
    out = [g]
    for val in res["yhat"]:
        out.append(val)
    df_temp = pd.DataFrame([out], columns=header)
    print(df_temp)
    proph_op_df.append(df_temp)

INFO:numexpr.utils:NumExpr defaulting to 4 threads.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

                              id       F1  ...       F27       F28
0  HOBBIES_1_001_CA_1_validation  0.76239  ...  0.772072  0.654499

[1 rows x 29 columns]

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

                              id        F1  ...       F27       F28
0  HOBBIES_1_002_CA_1_validation  0.146895  ...  0.456778  0.372117

[1 rows x 29 columns]

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

                              id        F1  ...       F27       F28
0  HOBBIES_1_003_CA_1_validation  0.646364  ...  0.837442  0.750989

[1 rows x 29 columns]

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

                              id        F1  ...      F27       F28
0  HOBBIES_1_004_CA_1_validation  1.565621  ...  2.80088  3.401975

[1 rows x 29 columns]

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

                              id        F1  ...      F27       F28
0  HOBBIES_1_005_CA_1_validation  0.694239  ...  1.74151  1.715277

[1 rows x 29 columns]

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

                              id        F1  ...       F27       F28
0  HOBBIES_1_006_CA_1_validation  0.570333  ...  0.818049  0.628447

[1 rows x 29 columns]

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

                              id        F1  ...       F27       F28
0  HOBBIES_1_007_CA_1_validation  0.251119  ...  0.337464  0.309022

[1 rows x 29 columns]

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

                              id        F1  ...        F27       F28
0  HOBBIES_1_008_CA_1_validation  9.951204  ...  11.252723  9.206717

[1 rows x 29 columns]

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

                              id        F1  ...      F27      F28
0  HOBBIES_1_009_CA_1_validation  0.111588  ...  0.49081  0.22683

[1 rows x 29 columns]

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

                              id        F1  ...      F27       F28
0  HOBBIES_1_010_CA_1_validation  0.455435  ...  0.52319  0.842857

[1 rows x 29 columns]

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

                              id        F1  ...       F27       F28
0  HOBBIES_1_011_CA_1_validation  0.085197  ...  0.199166  0.228301

[1 rows x 29 columns]

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

                              id        F1  ...       F27       F28
0  HOBBIES_1_012_CA_1_validation  0.090563  ...  0.354558  0.399063

[1 rows x 29 columns]

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

                              id        F1  ...       F27      F28
0  HOBBIES_1_013_CA_1_validation  0.311907  ...  0.438758  0.50466

[1 rows x 29 columns]

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

                              id        F1  ...       F27       F28
0  HOBBIES_1_014_CA_1_validation  1.602857  ...  2.040019  2.017458

[1 rows x 29 columns]

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

                              id       F1        F2  ...      F26      F27       F28
0  HOBBIES_1_015_CA_1_validation  1.15875  0.144621  ...  2.70766  5.10495  3.933876

[1 rows x 29 columns]

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

                              id        F1  ...       F27       F28
0  HOBBIES_1_016_CA_1_validation  5.609761  ...  8.730793  8.743463

[1 rows x 29 columns]

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

                              id      F1  ...       F27       F28
0  HOBBIES_1_017_CA_1_validation  1.1877  ...  1.456532  1.619461

[1 rows x 29 columns]

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

                              id        F1  ...       F27       F28
0  HOBBIES_1_018_CA_1_validation  0.093164  ...  0.086418  0.105175

[1 rows x 29 columns]

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

                              id        F1  ...       F27       F28
0  HOBBIES_1_019_CA_1_validation  6.585279  ...  7.117853  6.389349

[1 rows x 29 columns]

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

                              id        F1        F2  ...       F26    F27       F28
0  HOBBIES_1_020_CA_1_validation  0.190064  0.267917  ...  0.267443  0.415  0.341906

[1 rows x 29 columns]

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

                              id        F1  ...       F27       F28
0  HOBBIES_1_021_CA_1_validation  0.835607  ...  1.345792  1.375539

[1 rows x 29 columns]

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

                              id        F1  ...       F27      F28
0  HOBBIES_1_022_CA_1_validation  0.278198  ...  0.418964  0.39035

[1 rows x 29 columns]

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

                              id        F1  ...       F27       F28
0  HOBBIES_1_023_CA_1_validation  1.388747  ...  1.667781  1.478227

[1 rows x 29 columns]

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

                              id        F1  ...      F27       F28
0  HOBBIES_1_024_CA_1_validation  0.130549  ...  0.23073  0.113389

[1 rows x 29 columns]

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

                              id        F1  ...       F27       F28
0  HOBBIES_1_025_CA_1_validation  0.430875  ...  0.990561  1.240157

[1 rows x 29 columns]

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

                              id        F1  ...       F27       F28
0  HOBBIES_1_026_CA_1_validation  0.132959  ...  0.145343  0.142206

[1 rows x 29 columns]

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

                              id        F1  ...       F27       F28
0  HOBBIES_1_027_CA_1_validation  0.486254  ...  0.836369  0.767528

[1 rows x 29 columns]

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

                              id        F1  ...       F27       F28
0  HOBBIES_1_028_CA_1_validation  0.798447  ...  1.204563  1.045476

[1 rows x 29 columns]

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

                              id        F1  ...       F27       F28
0  HOBBIES_1_029_CA_1_validation  1.945882  ...  2.292616  2.305788

[1 rows x 29 columns]

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

                              id        F1  ...       F27       F28
0  HOBBIES_1_030_CA_1_validation  7.247244  ...  9.341328  8.722091

[1 rows x 29 columns]

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

                              id        F1  ...       F27       F28
0  HOBBIES_1_031_CA_1_validation  0.065984  ...  0.181768  0.252102

[1 rows x 29 columns]

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

                              id        F1  ...       F27       F28
0  HOBBIES_1_032_CA_1_validation  5.220475  ...  4.971058  2.447062

[1 rows x 29 columns]

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

                              id       F1  ...       F27       F28
0  HOBBIES_1_033_CA_1_validation  0.21168  ...  0.309843  0.369558

[1 rows x 29 columns]

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

                              id        F1  ...       F27       F28
0  HOBBIES_1_034_CA_1_validation  0.649371  ...  0.888549  0.859481

[1 rows x 29 columns]

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

                              id        F1  ...       F27       F28
0  HOBBIES_1_035_CA_1_validation  0.080376  ...  0.216768  0.176059

[1 rows x 29 columns]

In [0]:
proph_op_df.to_csv(file_name + "_op.csv", index=False)